@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 1rem 0;
  text-align: center;
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.equals {
  background-color: #f97316;
  color: white;
}

.equals:hover {
  background-color: #ea580c;
}
